@model Proj3MvcCoreRecap.Models.Employee

<h1>Details of Mr./Ms. @Model.Name </h1>
<hr/>
<div>
    <h2>@Model.Name</h2>
    <hr/>
    <p>Emp ID: @Model.Id</p>
    <p>Emp Address: @Model.Address</p>
    <p>Emp Salary: @Model.Salary</p>
    <p>Emp Dept: @Model.DeptId</p>
</div>